.bg-color-navbar{
  background-color: #723fb5;
}

.title-navbar{
  color: #fff;
  font-size: 40px;
}

.nav-link{
  border: 2px solid #fff; 
  border-radius: 18px;
}

.nav-logout{
	background: #46de4b;
	font-size: 14pt;
  color: white;
	width: 100%;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
}

li{
  padding-right:40px;
}

.item-style span{
  padding-right:7px
}

.align-items-center{
  margin: 10px auto;
	padding: 5px 350px;
}

.checkfulltime {
  margin: 2px auto;
  padding-left: 3px;
}

.search-btn button{
  box-sizing: border-box;
  background-color:#723fb5 ;
  border: 3px solid #723fb5; 
  border-radius: 20px;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 40px;
  text-align: center;
}

.search-btn{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-detail{
  box-sizing: border-box;
  background-color:#46de4b ;
  border: 3px solid #46de4b; 
  border-radius: 8px;
  color: white;
  font-weight: bold;
  width: 100px;
  height: 35px;
  text-align: center;
  padding: 3px 10px;
  margin: 20px;
}

.text-detail {
  margin: 20px auto;
  padding: 50px;
}

.text-joblist {
  margin: 5px auto;
  padding-left: 10px;
}